*{
    margin: 0px;
    padding: 0px;
}
/*  ###########  Banner-1  ########### */
header{
    margin-bottom: 20px;
}
.banner-1{
    background-image: url('/resources/Banner\ Image.png');
    background-size: cover;
    height: 600px;
    width: 1320px;
    position: relative;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 1320px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5); /* Adjust the last value (alpha) to control darkness */
    z-index: 1;
}
.main-1,.main-2{
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;
}
.main-1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 190px;
}
.main-2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
}

/* ###########  Discount  ###########*/

.discart{
    width: 1320px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* transition: width 0.3s ease, height 0.3s ease; */
}
/* .discart:hover{
    border: 2px solid rgb(0, 98, 255);
    margin-left: 399px;
    margin-right: 398.1px;
} */
.discount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;
}
.holiday{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.catagories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}
.new-yr{
    width: 802.9px;
    height: 500px;
    padding-top: 30px;
}

/* ##########   Banner-2   ##########*/

.bannar-2{
    background-image: url('/resources/Vectorrr.png');
    /* background: linear-gradient(rgb(26, 17, 17), rgb(183, 183, 183)); */
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 1320px;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.banner-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 1320px;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
/* .bannar-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 642px;
    height: 176px;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
} */
/* .heading,.discrip{
    text-align: center;
    position: relative;
    z-index: 2;
} */
.heading{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-bottom: 30px;
}
.discrip{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    padding-bottom: 48px;
}
.btn{
    background-color: transparent;
    border: none;
    color: #fbf8f8;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 32px;
}
.btn:hover{
    background-color: #e74c3c; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
    cursor:pointer; /* Change cursor to a pointer on hover */
}

/*  ############  Location   #############  */

.location{
    background-color: #fff;
    background: linear-gradient(pink, white);
    display:block;
    text-align: center;
    width: 1320px;
    height: 482px; 
    margin-left:20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px; 
}
.location:hover{
    border: 2px solid blue;
}
.details{
    padding-top: 100px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.highlight{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}
.btn-event{
    color: #FFF;
    background-color: red;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 48px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border: none;
    border-radius: 10px;
}
.btn-event:hover{
    background-color: #e74c3c; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
    cursor:pointer; /* Change cursor to a pointer on hover */
}

/* ############  Portfolio Img  ############ */

.portfolio{
    width: 1320px;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 20px; 
}
.intro{
    padding-top: 3px;
    padding-bottom: 3px;
}
.intro-highlight{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.port-head{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 3px;
    padding-bottom: 3px;
}
.port-discrip{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-top: 3px;
    padding-bottom: 48px;
}
.port-img{
    display: flex;
    justify-content: space-between;
}
.portfolio-images1:hover{
    cursor:pointer; /* Change cursor to a pointer on hover */
    border: 5px black solid;
    border-radius: 20px;
}
.portfolio-images2:hover{
    cursor:pointer; /* Change cursor to a pointer on hover */
    border: 5px black solid;
    border-radius: 20px;
}
.portfolio-images3:hover{
    cursor:pointer; /* Change cursor to a pointer on hover */
    border: 5px black solid;
    border-radius: 20px;
}
.portfolio-images4:hover{
    cursor:pointer; /* Change cursor to a pointer on hover */
    border: 5px black solid;
    border-radius: 20px;
}
.portfolio-images5:hover{
    cursor:pointer; /* Change cursor to a pointer on hover */
    border: 5px black solid;
    border-radius: 20px;
}
.portfolio-images6:hover{
    cursor:pointer; /* Change cursor to a pointer on hover */
    border: 5px black solid;
    border-radius: 20px;
}           
.port-img2{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}